/*

.taskRow {
	border: 0px solid gray;
	background-color: #ccc;
	height: 30px;
}


.taskRow div {
	margin-top: 2px;
}


.taskName {
	margin-left: 10px;
	line-height: 26px;
}

.taskViewControls {
	margin-right: 10px;
}*/


.no-margin {
	margin: 0px;
}

hr {
	margin-top: 0px;
}

.indent {
    margin-left: 20px;
}

.border-bottom {
	border-bottom: 1px solid #eee;
	margin-bottom: +20px;
}